<!-- Validation failure messages -->
<% if @comment_on_refrigerated.errors.any? %>
  <% @comment_on_refrigerated.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Comment On Refrigerated #<%= @comment_on_refrigerated.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_comment_on_refrigerated/<%= @comment_on_refrigerated.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @comment_on_refrigerated.user_id %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @comment_on_refrigerated.body %></textarea>
      </div>

      <!-- Label and input for refrigerated_id -->
      <div class="form-group">
        <label for="refrigerated_id" class="control-label">
          Refrigerated
        </label>

        <input type="text" id="refrigerated_id" name="refrigerated_id" placeholder="Refrigerated" class="form-control" value="<%= @comment_on_refrigerated.refrigerated_id %>">
      </div>

      <button class="btn btn-warning">
        Update Comment On Refrigerated
      </button>
      or
      <a href="/comment_on_refrigerateds/<%= @comment_on_refrigerated.id %>">Cancel</a>
    </form>
  </div>
</div>
