<!-- Validation failure messages -->
<% if @my_grocery.errors.any? %>
  <% @my_grocery.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit My Grocery #<%= @my_grocery.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_my_grocery/<%= @my_grocery.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for frozen_id -->
      <div class="form-group">
        <label for="frozen_id" class="control-label">
          Frozen
        </label>

        <input type="text" id="frozen_id" name="frozen_id" placeholder="Frozen" class="form-control" value="<%= @my_grocery.frozen_id %>">
      </div>

      <!-- Label and input for refrigerated_id -->
      <div class="form-group">
        <label for="refrigerated_id" class="control-label">
          Refrigerated
        </label>

        <input type="text" id="refrigerated_id" name="refrigerated_id" placeholder="Refrigerated" class="form-control" value="<%= @my_grocery.refrigerated_id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @my_grocery.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update My Grocery
      </button>
      or
      <a href="/my_groceries/<%= @my_grocery.id %>">Cancel</a>
    </form>
  </div>
</div>
